* {
  padding: 0;
  margin: 0;
}

#preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgb(210, 250, 241);
  opacity: 1;
  visibility: visible;;
  transition: 1s all;
}

#preloader.done {
  opacity: 0;
  visibility: hidden;
}

#preloader.done #preloader__animation {
  display: none
}

#preloader__animation {
  width: 75px;
  height: 75px;
  background: silver;
  border: 1px solid silver;
  box-sizing: border-box;
  border-radius: 50px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: animate-preloader 1s linear infinite alternate;
}


@keyframes animate-preloader {
  from {
    left: 45%;
  }

  to {
    left: 55%
  }

}

#gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;

  width: 90%;
  margin: 0 auto
}

.card {
  width: 100%;
  height: 300px;
  border: 1px solid silver;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 auto;
}

.card__image-container {
  text-align: center;
}

.card__titleName {
  text-align: center
}

@media screen and (max-width: 900px) {
  #gallery {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 600px) {
  #gallery {
    grid-template-columns: auto auto;
  }
}
